*{
    font-family: 'Quicksand', sans-serif;
    color: white;
  }

  body{
    background-color: rgb(107, 25, 25);
    padding: 1%;
  }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #382c1e;
      width: 1070px;
    }
    
    li {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      height: 14px;
      text-decoration: none;
      border-right: silver 2pt solid;
      width:1%;
      overflow: visible;
    }
    
    li:hover {
      background-color: #111;
    }

    .marker li{
      background-color: blanchedalmond;
      border-radius: 5px;
    }

    hr{
      border: solid silver;
      position:absolute;
      /* top: 35px; */
      margin: 0;
      padding: 0;
      left: 51px;
      width: 1021px;
      pointer-events: none;
      box-shadow: black 5px 8px 5px;
    }

    .markers{
      position: absolute;
      top: 195px;
      /* left: 5px; */
    }
    
    .strings{
      position: absolute;
      top: 1.75%;
      left: 1%;
      
    }

#g{
  background-color: rgba(123, 123, 123, 0.775);
}

#g:hover{
  background-color: rgba(59, 59, 59, 0.496);
}

button {
  background-color: silver;
  color: black;
  border: none;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  cursor: pointer;
}

button:hover {background-color: #e7e7e7;}

.col{
  width: 50%;
  display: block;
  float: left;
}

.guitar{
  display: block;
}

.recorderbuttons{
  display: inline;
  position: relative;
  top: -20px;
}

.chords button{
  width: 35px;
}